.container {
	width: 1000px;
	margin: 0 auto;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 1023px) {
	.container {
		width: 730px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: calc(100% - 20px);
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
}

