.hero {
	padding: 90px 0;
	height: calc(100vh - 60px);
}

.hero__image {
	max-width: 400px;
}

.hero__title {
	margin-bottom: 25px;
	font-size: 80px;
	font-weight: 900;
}

.hero__subtitle {
	margin-bottom: 25px;
	font-size: 20px;
	color: grey;
	line-height: 1.5;
}

@media screen and (max-width: 1023px) {
	.hero {
		padding: 70px 0;
		height: auto;
	}

	.hero__image {
		max-width: 200px;
	}

	.hero__title {
		font-size: 40px;
	}
}

@media screen and (max-width: 767px) {
	.hero {
		height: calc(100vh - 60px);
	}	

	.hero__about {
		width: 100%;
		padding: 35px 0;
	}

	.hero__title {
		font-size: 25px;
		text-align: center;
	}

	.hero__subtitle {
		font-size: 10px;
		text-align: center;
	}

	.hero__image {
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-width: 560px) {
	.hero {
		height: calc(100vh - 60px);
		padding: 22.5px 0;
	}
}